/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @keyframes animatedBackground {
	from { background-position: 0 0 0 0; }
	to { background-position: 0 100%; }
}


#backimg	{ 
	width: 100%; 
	height: 680px; 
	opacity: 0.8;
	background-image: url('/assets/b2b.jpg');
	background-position: 0px 0px ;
	background-repeat: repeat-x;

	animation: animatedBackground 55s linear infinite;
}
.container-fluid{padding: 0;
}

.well{width: 400px;
height: 300px;
border-radius: 15px;
box-shadow: 0 0 10px #efefef,0 0 20px #CC0000,0 0 30px seagreen,0 0 40px thistle,0 0 50px palevioletred;
opacity: 0.9;
position: absolute;
margin-top: -45%;
margin-left: 35%;
  
}
.i{
	margin-left: -100px;
}